.search {
  display: block;
  margin: 0 auto;
  border: 0.5px solid black;
}
.Sbtn {
  background-color: aqua;
  display: block;
  margin: 0 auto;
  border: 0.5px solid black;
}
.main_container {
  margin-top: 50px;
}
.main {
  display: block;
  margin: 0 auto;
  height: 450px;
  max-width: 600px;
  border: 0.5px solid black;
  border-radius: 5px;
}
.form {
  width: 80%;
  margin: 0 20px 0 0;
}
.heading {
  margin-top: 20px;
  margin-left: 20px;
}
.temp {
  display: inline;
}
.cloud {
  display: inline;
  position: relative;
  top: -15px;
}
.degree {
  display: inline;
  position: relative;
  top: -30px;
  left: -10px;
}
.active {
  color: blue;
  cursor: default;
  text-decoration: none;
}
.active:hover {
  text-decoration: underline;
  color: blue;
}
.wind {
  margin: 0 0 0 380px;
  position: relative;
  top: -100px;
}
h6 {
  font-weight: 400;
  margin: 0;
  width: 160px;
  align-items: right;
}
.col {
  border: 0.5px SOLID grey;
  background-color: rgb(240, 239, 239);
}
.col:hover {
  background-color: gray;
}
.days {
}
.myrow {
  display: inline;
}
.mycard {
  margin-top: 0;
  margin-left: 5.3px;
  height: 80px;
  width: 65px;
  border: 2px solid black;
  border-radius: 5px;
  margin-top: 5px;
  display: inline-block;
  justify-content: center;
  text-align: center;
}
.mycard:hover {
  background-color: grey;
}
.footer {
  text-align: center;
}
#tmp {
  display: inline;
  font-size: 3.5rem;
  margin-right: 5px;
}
#desc {
  text-transform: capitalize;
}
.weather-forecast {
  margin: 0 10px 0px 12px;
}
.forecast_img {
  height: 50px;
  width: 50px;
  position: relative;
  left: -5px;
}
.column {
  width: 79px;
  margin: 0 0 0 5px;
}
.column:hover {
  background-color: gainsboro;
}
.weather-forecast-date {
  text-align: center;
}
.forecast_img {
  text-align: center;
}
.weather-forecast-temperature {
  text-align: center;
}
.weather-forecast-temperature-max {
  font-weight: 500;
}
.weather-forecast-temperature-min {
  font-weight: 350;
}
